<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.StudentMapper">
<!-- 新增学生数据   -->
    <insert id="addStudent" parameterType="Student">
        insert into student(sNo, sName, sGender, specialityName, sDept, className)
        VALUES(#{sNo},#{sName},#{sGender},#{specialityName},#{sDept},#{className})
    </insert>
<!--  根据sNo删除学生数据  -->
    <delete id="deleteStudent" parameterType="String">
        delete from student where sNo = #{sNo}
    </delete>
<!--  根据sNo更新学生数据  -->
    <update id="updateStudent" parameterType="Student">
        update student
        <set>
            <if test="sName != null and sName != ''">
                sName =#{sName},
            </if>
            <if test="sGender != null and sGender != ''">
                sGender =#{sGender},
            </if>
            <if test="specialityName != null and specialityName != ''">
                specialityName =#{specialityName},
            </if>
            <if test="sDept != null and sDept != ''">
                sDept =#{sDept},
            </if>
            <if test="className != null and className != ''">
                className =#{className},
            </if>
        </set>
        where sNo = #{sNo}
    </update>
</mapper>